[submodule "projects/albion_tools/other_sources/api"]
	path = projects/albion_tools/other_sources/api
	url = https://github.com/OpenAlbion/api.git
[submodule "projects/launcher_games/imgui"]
	path = projects/launcher_games/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "projects/launcher_games/oth_code/voxelcore"]
	path = projects/launcher_games/oth_code/voxelcoreъ
	url = https://github.com/MihailRis/voxelcore.git
[submodule "projects/launcher_games/oth_code/LearnOpenGL"]
	path = projects/launcher_games/oth_code/LearnOpenGL
	url = https://github.com/JoeyDeVries/LearnOpenGL.git
[submodule "projects/launcher_games/oth_code/voxelcore"]
	url = https://github.com/username/voxelcore.git
	path = projects/launcher_games/oth_code/voxelcore
[submodule "projects/They-are-Gigabytes"]
	path = projects/They-are-Gigabytes
	url = https://github.com/Mishanya00/They-are-Gigabytes.git
